/* Estilos del fondo principal */
.box-fondo{
    width: 100%;
}
.box-fondo img{
    width: 100%;
}

/* Estilos del texto */
.navbar-brand{
    font-size: 18px;
}

/* Estilos del boton de whatsapp */
.whatsapp {
    position:fixed;
    width:45px;
    height:45px;
    bottom:14px;
    right:13px;
    background-color:#4dc247;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    font-weight: lighter;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:7.8px;
  }
  .title-about{
      text-align: center;
  }
  .text-about{
      text-align: center;
      font-family: cursive;
      font-size: 17px;
  }

  /* Estilos del footer */

  .footer{
      background-color: black;
      color: white;
      font-family: cursive;
      text-align: center;
  }
  .footer i{
      font-size: 32px;
  }
  .imagenes{
      width: 100%;
  }

  .subir-imagen-principal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    color: transparent;
    display: -webkit-box;
}
    
.subir-imagen{
    display: none;
}
.button{
    width: 90% !important;
    white-space: nowrap;
}
.botones-input-file{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(12, 12, 12);
    color: rgb(224, 224, 224);
    border-radius: 10px;
    width: 70%;
    height: 40px;
    border: 0px;
}
.botones-input-file:hover{
    background-color:grey;
}
.b:hover{
	cursor: pointer;
}

.p-errores{
    color: red;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px !important;
}
.error{
    display: none;
}
.input-crear{
    color: black !important;
    padding-left: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 6px !important;
    background-color: rgb(255, 255, 255)!important;
    box-shadow: none !important;
}
.input-crear:focus{
    background-color: rgb(247, 247, 247) !important;
}
.talles{
    width: 100%;
    display: flex;
    text-decoration: none;
    list-style: none;
}
.talles li{
    width:65px ;
    border-style: outset;
    margin-right: 10px;
    margin-top: 10px;
}
.talles input{
    width: 40px !important;
    margin-left: 20px;
}
.input-recordar{
    display: block !important;
    opacity: 1 !important;
    position: relative !important;
    pointer-events: all !important;
}
.caja-obra{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.caja-obra img{
    width: 100%;
}
.box-fondo-compu{
    display: none;
    width: 100%;
}
.box-fondo-compu img{
    width: 40%;
}

@media only screen and (min-width: 450px){
    .box-fondo{
        display: none;
    }
    .box-fondo-compu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .caja-obra img{
        width: 50%;
    }
    .caja-obra{
        flex-direction: row;
        width: 100%;
    }
    .descripcion{
        margin-top: 10px;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 700px){
    .caja-obra{
        flex-direction: row;
        width: 100%;
    }
    .caja-obra img{
        width: 35%;
        position: relative;
        left: -14%;
        z-index: -1;
        
    }
    .descripcion{
        margin-top: 10px;
        margin-left: 0px;
    }
}